table {
   border-collapse: collapse;
}
tr.hline td {
   border-bottom: 2px solid black;
}
tbody tr:nth-child(odd){
   background-color: #eeeeee;
}
table td:nth-child(2),
table td:nth-child(6),
table td:nth-child(12)
{
   border-right: 5px solid white;
}
